@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  body {
    scroll-behavior: smooth;
    position: relative;
    overflow: hidden;
  }

  nav section,
  nav a {
    @apply p-4 pt-10 lg:mr-6 lg:pt-4 cursor-pointer text-sm font-medium transition-colors duration-200;
  }

  nav a:hover,
  nav section:hover,
  nav button:hover {
    @apply text-purple;
  }

  #hero-details_class,
  #hero-img_class {
    clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%);
  }

  .title::after {
    content: '';
    position: absolute;
    height: 4px;
    margin: 0 auto;
    border-radius: 2px;
    width: 60%;
    top: 1px;
    left: 50%;
    transform: translateX(-50%);
    @apply bg-purple;
  }

  .projects:hover section {
    transform: translateY(0);
  }

  .skills p {
    @apply bg-badge mt-3 mr-3 px-4 py-2 inline-block cursor-pointer rounded-lg text-xs font-medium transition-all duration-300;
  }

  .skills p:hover {
    transform: translateY(-0.5rem) scale(1.05);
    @apply bg-purple text-white;
  }

  .form-group {
    @apply mt-4 mb-4;
  }

  .form-group label {
    @apply pb-2 text-sm font-medium;
  }

  .form-group input {
    @apply bg-input w-full h-12 p-4 rounded-lg outline-none border border-slate-700 focus:border-purple transition-colors;
  }
}
