@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  body {
    scroll-behavior: smooth;
    position: relative;
    overflow: hidden;
  }

  nav section,
  nav a {
    @apply p-4 pt-10 lg:mr-5 lg:pt-4 cursor-pointer;
  }

  nav a:hover,
  nav section:hover,
  nav button:hover {
    @apply text-nav;
  }

  #hero-details_class,
  #hero-img_class {
    clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%);
  }

  .title::after {
    content: '';
    position: absolute;
    height: 7px;
    margin: 0 auto;
    border-radius: 10px;
    width: 80%;
    top: 1px;
    left: 50%;
    transform: translateX(-50%);
    @apply bg-purple;
  }

  .projects:hover section {
    transform: translateY(0);
  }

  .skills p {
    @apply bg-badge mt-3 mr-3 px-3 py-1 inline-block cursor-pointer rounded;
    transition: ease-in-out all 0.5s;
  }

  .skills p:hover {
    transform: translateY(-1rem);
    @apply bg-purple;
  }

  .form-group {
    @apply mt-3 mb-3;
  }

  .form-group label {
    @apply pb-3;
  }

  .form-group input {
    @apply bg-input w-full h-12 p-5 rounded-md outline-none;
  }
}
